syncGroups:
    1stGroupNameToSync:
        syncHistory: true
        discordGuildName: "Your Discord Guild Name"
        discordChannelName: "your-discord-channel-name"
        groupMeGroupName: "Your GroupMe Group Name"
        groupMeBotId: "xxxxxxxxxxxxxxxxxxxxxxxxxx"
    2ndGroupNameToSync:
        syncHistory: false
        discordGuildName: "Your Discord Guild Name"
        discordChannelName: "your-discord-channel-name"
        groupMeGroupName: "Your GroupMe Group Name"
        groupMeBotId: "xxxxxxxxxxxxxxxxxxxxxxxxxx"